/* HEADER SECTION */

.header {
  height: auto;
  height: 80vh;
  position: relative;
}

.header-text {
  position: absolute;
  top: 15%;
  left: 10%;
  /* color: #f5588b; */
  z-index: 5;
}

.header-text h1 {
  font-size: 5rem;
}

.header-text em {
  /* color: #1ae6ef; */
  text-decoration: underline;
}

.header-text p {
  font-size: 26px;
  margin-top: 0;
}

.header-text button {
  margin-top: 10px;
  width: 70%;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.header-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./img/bg_primary.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-img img {
  width: 100%;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 5;
}

.circle-1 {
  position: absolute;
  bottom: 0;
  left: 18%;
  background-color: #1ae6ef;
  margin-bottom: -100px;
}

.circle-2 {
  position: absolute;
  bottom: 0;
  right: 25%;
  background-color: #f5588b;
  margin-bottom: -120px;
}

/* 
-----------
SECTIONS
-----------
*/

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 50px 0;
}

.section-text h2 {
  color: #f5588b;
}

.section h3 {
  color: #1ae6ef;
}

.section-text p {
  font-size: 20px;
}

.section button {
  display: block;
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
}

/* SECTION 1 */

.section-1 {
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

/* SECTION 2 */

.section-2 {
  margin-top: 100px;
  position: relative;
}

.section-2-text h2 {
  font-size: 3.5rem;
}

.section-2 .quotes {
  background-color: #1ae6ef;
  padding: 50px;
  position: relative;
}

.quotes .quote {
  font-size: 25px;
  color: #fff;
}

.quotes .author {
  font-style: italic;
}

.section-2 .quotes span {
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: -75px;
  font-size: 100px;
  color: #f5588b;
}

.section-2-text {
  display: grid;
  justify-content: center;
  align-items: center;
}
