header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}

header p {
  font-size: 12px;
  text-align: center;
  margin-top: 0;
}

button {
  display: block;
  width: 100%;
}
