.login {
  margin-top: 40px;
}

.jumbotron {
  box-shadow: 3px 3px 5px #2e2e2e;
  position: relative;
}

h1 {
  font-size: 30px;
}

h1 span {
  font-style: italic;
  color: purple;
}

p {
  margin-top: 30px;
  font-size: medium;
}

.sign-in-msg {
  font-weight: bold;
  font-style: italic;
}

.login-btn {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #2e2e2e;
}
