* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbars */

nav {
  width: 96%;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 30px;
}

nav .fa {
  font-size: 40px;
}

.form-control {
  border-radius: 20px;
}

/* Mobile Nav */
.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2e2e2e;
  overflow: hidden;
  z-index: 5;
  padding: 20px 0;
}

.mobile-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.mobile-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobile-nav ul li i {
  font-size: 40px;
}

/* Landing Page */
.landing {
  width: 95%;
  margin: 10px auto;
  min-height: 100vh;
}

.hero {
  position: relative;
  background-image: url('./assets/img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero .copy {
  margin-left: 5%;
  margin-top: 30%;
}

.copy h1 {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.copy p {
  color: #fff;
  margin: 15px 0;
}

.copy a {
  margin-top: 5px;
}

.cards {
  margin-top: 15px;
}

.card {
  min-height: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 10px auto;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  min-height: 200px;
  color: #fff;
  font-size: 30px;
}

.card:nth-child(1) .card-header {
  background-image: url('./assets/img/inspiration.jpg');
  background-repeat: no-repeat;
}

.card:nth-child(2) .card-header {
  background-image: url('./assets/img/justin.jpg');
  background-position: center;
}

.card:nth-child(3) .card-header {
  background-image: url('./assets/img/mentor.jpg');
  background-position: center;
}

.card:nth-child(4) .card-header {
  background-image: url('./assets/img/team.jpg');
  background-position: center;
}

.cta {
  margin-top: 15px;
  background: #2e2e2e;
  color: #fff;
  min-height: 400px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.icons > div {
  background-color: #202020;
  margin: 10px;
  border-radius: 10px;
}

.icons > div:hover {
  background-color: #2780e3;
}

.icons .fa {
  color: #2780e3;
  font-size: 20px;
}

/* Dashboard */
.dashboard {
  width: 95%;
  margin: 0 auto;
  height: 90vh;
}

.dashboard .menu {
  background-color: #202020;
  padding: 10px;
  margin-top: 20px;
}

.dashboard .menu ul {
  list-style: none;
  color: #fff;
  display: flex;
  margin: 0;
  padding: 10px;
}

.dashboard .menu ul li {
  margin: 0 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dashboard .menu .fa {
  font-size: 30px;
}

.dashboard .menu ul li:hover {
  background-color: #2780e3;
}

.dashboard .data {
  background-color: #fff;
  height: 100%;
}

/* Login Page */
.login {
  margin-top: 20px;
}

.jumbotron {
  box-shadow: 3px 3px 5px #2e2e2e;
  position: relative;
}

h1 {
  font-size: 30px;
}

h1 span {
  font-style: italic;
  color: #2780e3;
}

p {
  margin-top: 30px;
  font-size: medium;
}

.sign-in-msg {
  font-weight: bold;
  font-style: italic;
}

.login-btn {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #2e2e2e;
}

/* Register Page */
.register {
  margin-top: 20px;
}

.jumbotron {
  box-shadow: 3px 3px 5px #2e2e2e;
  position: relative;
}

h1 {
  font-size: 30px;
}

h1 span {
  font-style: italic;
  color: purple;
}

p {
  margin-top: 30px;
  font-size: medium;
}

.sign-in-msg {
  font-weight: bold;
  font-style: italic;
}

.register-btn {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #2e2e2e;
}

/* Prompt Page */
.prompt-wrapper {
  width: 95%;
  margin: 0 auto;
}

.prompt-header {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.prompt-header img {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.prompt-header span {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #2780e3;
}

.prompt-header h1 {
  font-size: 25px;
  margin-top: 5px;
}

.prompt-header p {
  margin: 5px 0;
  font-size: 14px;
}

.prompt {
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px #2e2e2e;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
}
/* Media Queries */

@media screen and (max-width: 940px) {
  .sm-hide {
    display: none;
  }
}

@media screen and (min-width: 940px) {
  .lg-hide {
    display: none;
  }
}
