/* Colors */
:root {
    --primary: #3b4e69;
    --secondary: #445a79;
    --accent: #eb5a8a;
    --accent2: #326a75;
    --light: rgb(211, 211, 211);
    --dark: #1f2126;
    --dark2: #111316;
}

/* Fonts */
@font-face {
    font-family: 'futuraBook';
    src: local('futuraBook'), url('./assets/fonts/futuraBook.ttf');
}

@font-face {
    font-family: 'futuraBold';
    src: local('futuraBold'), url('./assets/fonts/futuraBold.ttf');
}

@font-face {
    font-family: 'futuraLight';
    src: local('futuraLight'), url('./assets/fonts/futuraLight.ttf');
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

/* Global Styles */
body {
    overflow-x: hidden;
}

/* Application Grid Layout */
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
}

.navigation {
    grid-column: 1/3;
    height: 100%;
    background-color: var(--dark);
}

.content-container {
    grid-column: 3/13;
    background-color: var(--light);
}

/* Positioning */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 10px;
}

/* Images */
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    font-size: 16px;
}
.btn-primary {
    background-color: var(--accent);
    border: none;
}

.btn:hover {
    background-color: var(--accent2);
    border: none;
}

.btn-secondary {
    background-color: var(--primary);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--accent);
}

/* Top Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.navbar .navbar-brand {
    color: var(--dark);
    font-size: 24px;
    margin-left: 20px;
}

.navbar .user {
    cursor: pointer;
}

.navbar .user i {
    color: var(--dark);
    font-size: 24px;
    margin-right: 20px;
}

/* Navbar */
.nav-brand {
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--light);
}

.nav-brand:hover {
    text-decoration: none;
    color: var(--light);
}

.nav-item a {
    color: var(--light);
    font-size: 18px;
    margin: 5px auto;
    transition: 0.3s ease-in-out;
}

.nav-item a:hover {
    background-color: var(--accent);
    color: var(--light);
}

nav i {
    color: var(--light);
    margin-right: 15px;
}

/* Footer */
footer {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

footer img {
    width: 50%;
}

footer h4 {
    display: inline-block;
    border-bottom: 1px solid #d64379;
}

footer ul {
    list-style: none;
}

/* Home */
.home {
    position: relative;
}

/* Home - Header */
.header-container {
    width: 95%;
    height: 40vh;
    overflow: hidden;
    margin: 25px auto;
    position: relative;
    background-color: var(--dark);
}

.header-container img {
    width: 100%;
    margin-top: -250px;
    opacity: 0.3;
}

.header-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark);
    z-index: 5;
}

.header-text {
    position: absolute;
    top: 10%;
    left: 40px;
    z-index: 10;
    color: var(--light);
}

.header-text h1 {
    font-family: futuraBook;
    font-size: 5rem;
    margin: 0;
}

.header-text p {
    width: 55%;
    font-family: futuraBook;
    font-size: 17px;
    margin: 30px 0;
}

.header-text .home-btn {
    width: 55%;
}

/* Home - Writers Block */
.writers-block {
    width: 95%;
    margin: 75px auto;
}

.writers-block h2 {
    margin: 25px auto;
    text-align: center;
    font-family: futuraBook;
    font-size: 2.5rem;
}

.writers-block .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border-top: 1px solid #2e2e2e;
}

.writers-block .card {
    margin-top: 25px;
}

.writers-block .card-body h5 {
    font-family: futuraLight;
    font-size: 18px;
}

.writers-block .card-body a {
    display: block;
}

/* Home - Authors Spotlight */
.spotlights {
    width: 95%;
    margin: 75px auto;
}

.spotlights h2 {
    margin: 25px auto;
    text-align: center;
    font-family: futuraBook;
    font-size: 2.5rem;
}
.spotlights .authors {
    width: 60%;
    margin: 0 auto;
}

.spotlights .author {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px auto;
}

.spotlights .author-img img {
    width: 100%;
}

/* Home - Message From Us */
.message {
    width: 95%;
    margin: 75px auto;
    background-color: var(--dark);
    padding: 75px;
    color: var(--light);
    text-align: center;
}

.message h2 {
    margin: 25px auto;
    font-family: futuraBook;
    font-size: 2.5rem;
    color: var(--accent);
}

.message p {
    font-size: 16px;
}

/* Prompt Page */
.prompt-wrapper-header {
    background-color: #fff;
}

.prompt-wrapper-header {
    margin-bottom: 50px;
    padding: 50px;
    background-color: var(--accent2);
    color: var(--light);
}

.prompt-header {
    display: flex;
    justify-content: space-between;
}

.prompt-footer {
    display: flex;
    justify-content: space-between;
}

/* Dashboard */
.dashboard {
    width: 95%;
    margin: 0 auto;
    height: 90vh;
}

.dashboard .menu {
    background-color: #202020;
    padding: 10px;
    margin-top: 20px;
}

.dashboard .menu ul {
    list-style: none;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 10px;
}

.dashboard .menu ul li {
    margin: 0 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dashboard .menu .fa {
    font-size: 30px;
}

.dashboard .menu ul li:hover {
    background-color: #2780e3;
}

.dashboard .data {
    background-color: #fff;
    height: 100%;
}

/* Login Page */
.login {
    margin-top: 20px;
}

.sign-in-msg {
    font-weight: bold;
    font-style: italic;
}

.login-btn {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #2e2e2e;
}

/* Register Page */
.register {
    margin-top: 20px;
}

.sign-in-msg {
    font-weight: bold;
    font-style: italic;
}

.register-btn {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #2e2e2e;
}

/* Prompt Page */
.prompts-wrapper {
    width: 95%;
    margin: 0 auto;
}

.prompts-header {
    margin-top: 10px;
    overflow: hidden;
}

.prompts-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.prompts-header span {
    font-size: 12px;
    display: block;
    text-align: right;
    color: #2780e3;
}

.prompts-header h1 {
    font-size: 25px;
    margin-top: 5px;
}

.prompts-header p {
    margin: 5px 0;
    font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 940px) {
    .sm-hide {
        display: none;
    }
}

@media screen and (min-width: 940px) {
    .lg-hide {
        display: none;
    }
}
